.imageContainer {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: -4px;
}

.imageGallery {
    width: 300px;
    height: auto;
    
}

